@tailwind base;
@tailwind components;
@tailwind utilities;

/* تم روشن/تیره دلخواه (اختیاری) */
:root{
  --bg: #0b1220;
  --fg: #e5e7eb;
}

body{
  background: var(--bg);
  color: var(--fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
